/* Add your CSS rules below */

#loading {
    display: none;
}

.navbar {
    background-color: #333;
}

.page {
    display: flex;
}

.left {
    width: 250px;
    background-color: #f4f4f4;
}

.right {
    flex: 1;
    padding: 20px;
}

.box-info {
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

.box-info.success {
    background-color: #28a745;
    color: white;
}

.box-info.info {
    background-color: #17a2b8;
    color: white;
}

.box-info.warning {
    background-color: #ffc107;
    color: black;
}
